{% extends "cblog/views/templates/layout.html" %}

{% block menu %}
{% endblock %}

{% block content %}

{% if user-info %}
  <h3>Hello {{user-info.name}} </h3>
  <hr>
{% if current-user %}
  <p><button class="btn btn-default">Напишем статейку</button></p>
{% endif %}
  <div class="row">
  <form action="" method="post" class="col-md-5">
      <input type="text" name="title" id="title" class="form-control" placeholder="title">
      <br/>
      <textarea row=3 name="subject" id="subject" class="form-control" placeholder="subject"></textarea>
      <br/>
      <input type="submit" class="btn btn-default" id="post-submit" value="Submit">
  </form>
  </div>
{% else %}
  <h3>{{error}}</h3>
{% endif %}

{% endblock %}
