{% extends "cblog/views/templates/layout.html" %}
{% block menu %}
{% endblock %}
{% block content %}
<h2>User details for {{user.email}}</h2>
		<form action="{{servlet-context}}/update-profile" method="POST">
			<label for="id">Name</label>
			<p>
				<input id="first-name" name="first-name" tabindex="1" type="text" value={{user.name}}></input>
			</p>
			<label for="id">email</label>
			<p>
				<input id="email" name="email" tabindex="1" type="text" value={{user.email}}></input>
			</p>
			<input class="btn" tabindex="4" type="submit" value="update profile">
		</form>
{% endblock %}
