{% extends "cblog/views/templates/layout.html" %}
{% block menu %}
{% endblock %}
{% block content %}
<h2>User details for {{user.name}}</h2>
  <form action="{{servlet-context}}/users/{{user.id}}" method="PUT">
			<label for="id">Name</label>
			<p>
				<input id="name" name="name" tabindex="1" type="text" value={{user.name}}></input>
			</p>
			<label for="id">email</label>
			<p>
				<input id="email" name="email" tabindex="1" type="text" value={{user.email}}></input>
			</p>
			<input class="btn" tabindex="4" type="submit" value="update profile">
		</form>
{% endblock %}
