<div class="navbar-collapse collapse">

{% if current-user %}
		<ul class="nav navbar-nav navbar-right">
		  <li>
            <a href="{{servlet-context}}/users/{{user.id}}">
                <span class="glyphicon glyphicon-user"></span><span style="margin-left:5px;">{{current-user.name}}</span></a>
          </li>
          <li>
            <form action="{{servlet-context}}/session/" method="POST" class="navbar-form">
                <button type="submit" class="btn btn-default" style="font-size:13px" >Sign Out</button>
            </form>
          </li>
		</ul>
	{% else %}
		<ul class="nav navbar-nav navbar-right">
			 <li class="dropdown">
                 <a href="{{servlet-context}}/session/new">Login</a>
			</li>
			<li>
                <a href="{{servlet-context}}/users/new">Register</a>
			</li>
		</ul>
{% endif %}
</div>
