<div class="navbar-collapse collapse">
{% if user-id %}
	<div class="btn-group pull-right">
		<ul class="nav navbar-nav">
			 <li class="dropdown">
				 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				 	<i class="icon-user"></i>{{user-id}} <b class="caret"></b>
				 </a>
				 <ul class="dropdown-menu">
                     <li><a href="{{servlet-context}}/users/{{user-id}}">Profile</a></li>
					<li class="divider"></li>
                     <li><a href="{{servlet-context}}/session/">Sign Out</a></li>
				 </ul>
			 </li>
		</ul>
	</div>
	{% else %}
	<div class="btn-group pull-right">
		<ul class="nav navbar-nav">
			 <li class="dropdown">
                 <a href="{{servlet-context}}/session/new">Login</a>
			</li>
			<li>
                <a href="{{servlet-context}}/users/new">Register</a>
			</li>
		</ul>
	</div>
{% endif %}
</div>
