{% extends "cblog/views/templates/base.html" %}
{% block menu %}
{% endblock %}
{% block content %}
<h2>User details for {{user.name}}</h2>
		<form action="{{servlet-context}}/update-profile" method="POST">
			<label for="name">name</label>
			<p>
				<input id="name" name="name" tabindex="1" type="text" value={{user.name}}></input>
			</p>
			<label for="email">email</label>
			<p>
				<input id="email" name="email" tabindex="2" type="text" value={{user.email}}></input>
			</p>			
			<input class="btn" tabindex="3" type="submit" value="update profile">
		</form>
{% endblock %}
